name: Lint

on: [pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

    - name: Set up Python environment
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: ruff
      uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1

  mypy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

    - name: Set up Python environment
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install required-version defined in pyproject.toml
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: 'true'

    - name: mypy
      uses: tsuyoshicho/action-mypy@089e02ea49b666337a91bd665d8af1d6dd5dadce  # 5.1.1
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        level: warning
        execute_command: uv run mypy --config-file mypy.ini .

  actionlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

    - name: actionlint
      uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0  # v1.68.0
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        level: warning
